h1 a {
	color: #fff;
	text-decoration: none;
}

#page-body .help-row {padding-left: 20px;}
#page-body .help-row p {margin: 0}

h1.ui.header {
    margin-top: 5px;
}

.ui.header .content {
    padding-top: 8px;
}

.ui.header .sub.header {
    color: #fff;
}

.ui.compact.menu.main {
    margin-top: 20px;
    border-radius: 0;
}

.ui.ordered.steps.sections {
    margin-left: 1px;
}

.ui.steps .step:first-child,
.ui.steps .step:last-child {
    border-radius: 0;
}

.ui.segment {
    border-radius: 0;
}

.column.user-menu .ui.menu {
	margin-top: 24px;
}

.column.user-menu {
	text-align: right !important;
	padding-right: 9px !important;
}

.ui.selection.dropdown,
.ui.input input,
.ui.form input[type=text],
.ui.form input[type=password],
.ui.button,
.ui.buttons .button,
.ui.page.admin .ui.pointing.secondary.menu .item,
.ui.menu>.item:first-child,
.ui.tabular.menu .active.item {
    border-radius: 0 !important;
}

.button.go-stage {
    margin-top: 40px;
}

.ui.accordion .title {
    margin-bottom: 5px;
}

/* TABS */

.ui.menu.steps {
    margin-bottom: 0;
}

.ui.menu.steps .item:before {
    background: none;
}

.ui.menu.steps .active.item {
    border-radius: 0;
    font-weight: normal;
    border-color: transparent;
}

.ui.steps .step {
    position: relative !important;
    display: table-cell !important;
    vertical-align: middle !important;
    margin: 0;
    padding: .9285em 1.5em .9285em 2.25em !important;
    background: #fff !important;
    color: rgba(0,0,0,.8) !important;
    box-shadow: 0 0 0 1px #d4d4d5 !important;
    border-radius: 0;
}

.ui.step, .ui.steps .step {
    font-size: 1rem !important;
}

.ui.steps .step.active {
    cursor: auto;
    background: #f0f0f0 !important;
}

.ui.steps .step, .ui.steps .step:after {
    -webkit-transition: background-color .2s ease,opacity .2s ease,color .2s ease,box-shadow .2s ease !important;
    transition: background-color .2s ease,opacity .2s ease,color .2s ease,box-shadow .2s ease !important;
}

.ui.ordered.steps .step:before {
    display: table-cell !important;
    position: static;
    text-align: center;
    content: counters(ordered,".");
    vertical-align: middle;
    padding-right: .6em;
    font-size: 2em;
    counter-increment: ordered;
}

.ui.steps .step:first-child {
    padding-left: 1.5em !important;
}

.ui.steps .disabled.step {
    color: rgba(40,40,40,.3) !important;
}

.ui.menu.steps .item.disabled, .ui.menu.steps .item.disabled:hover {
    background-color: #fff !important;
}

.fields.analytics {
    margin-bottom: 15px;
}

.fields.analytics .inline.field {
    margin-top: 10px;
}

#speakers_quoted_control .ui-autocomplete,
#news_break_control .ui-autocomplete {
	width: 300px;
}

#speakers_quoted_control .ui-autocomplete li,
#news_break_control .ui-autocomplete li {
	display:block;
	padding-left: 5px;
}

.speakers_quoted_block .ui.pointing.label {margin: 0;}

/* TABLE */

.ui.page.table table.full.dataTable.display tbody tr > .sorting_1,
.ui.page.table table.full.dataTable.order-column.stripe tbody tr > .sorting_1 {
	background-color: white !important;
    border-top: 1px solid #dddddd;
}

/* IMPORT */

.drop {
	background: rgb(245, 245, 245) none repeat scroll 0 0;
    border: 1px solid #00b5ad;
	height: 200px;
	text-align: center;
	padding: 50px;
	margin: auto;
}

.drop .tip {
	text-transform: uppercase;
	color: rgba(39, 41, 43, 0.15);
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}

.drop input[type=file] {
	display: none;
}

.drop .status {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.drop.in {
	width: 600px;
	height: 200px;
	line-height: 200px;
	font-size: larger;
}
.drop.hover {
	background: #E0FBFB;
}
.drop.fade {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 1;
}

.drop i.circular.icon {
    color: #FFFFFF;
    font-size: 20px;
    box-shadow: 0 0 0 .1em rgba(255, 255, 255, 1) inset !important;
}

.drop i.circular.checkmark.icon {
    color: #A1F7A9;
}

.drop i.frown.icon {
    color: #FFFFFF;
    font-size: 34px;
}

.progress {
	width: 120px;
	margin: auto;
}

.progress .bar {
	background-color: #E4F0E9;
	height: 2px;
	width: 0;
}

.upload h3 {
	text-align: center;
	margin-bottom: 10px;
}

/* HELP */

.div-hidden {
    display: none;
}

.div-help {
    width: 810px;
    height: 150px;
    text-align: center;
    padding: 30px;
    margin: auto;
}

.div-help .tip {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.div-help input[type=file] {
    display: none;
}

.div-help .status {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.div-help.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
.div-help.hover {
    background: lawngreen;
}
.div-help.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.div-help i.circular.icon {
    color: #FFFFFF;
    font-size: 20px;
    box-shadow: 0 0 0 .1em rgba(255, 255, 255, 1) inset !important;
}

.div-help i.circular.checkmark.icon {
    color: #A1F7A9;
}

.div-help i.frown.icon {
    color: #FFFFFF;
    font-size: 34px;
}

/**
 * Charts
 **/
.tabular.charts {
    text-align: center;
}

.chart-holder {
    text-align: center !important;
}

.chart-holder h2 {
    margin: 0;
    text-align: center;
    color: #646388 !important;
    text-transform: uppercase;
    font-size: 22px !important;
    font-family: "Open Sans" sans-serif !important;
    padding: 10px 20px;
    font-weight: normal;
}

.pie {
	height: 400px;
	margin: 0 auto;
}

.bubble {
	height: 600px;
	margin: 0 auto;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.button.report-filter, .button.save-report-filter, .button.filter-button, 
.button.refresh-report-filter, .button.export-report-filter-pdf {
    /*float: right;*/
    top: 20px;
    height: 38px;
    margin: 0;
}

.button.report-filter {
    margin: 0 0 0 0.25em;
}

/* Messages */
.ui.message.data-saved {
    display: none;
    position: absolute;
    top: 88px;
    right: 20px;
    width: 245px;
    z-index: 1;
}

svg > text[text-anchor="end"] {
    display: none;
}

.finish.button {
    margin-bottom: 7px;
    vertical-align: middle;
}

.form.result .field {
    text-align: center;
}

#page-body ul.tagit {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    color: #555;
    cursor: text;
    font-size: 14px;
    min-height: 38px;
    margin-bottom: 0;
    margin-right: 6px;
    margin-top: 2px;
    padding: 2px;
    overflow: auto;
    width: 100%;
}
#page-body ul.tagit.disabled {opacity: 0.5}
#page-body ul.tagit li {
    border-radius: 0px;
}

ul.tagit div.tagit-label.hidden {
    display: none;
}

#page-body ul.tagit li.tagit-choice a.tagit-close { padding: 6px 0 0; right: 5px; text-shadow: none; font-weight: normal; font-size: 14px;}
#page-body ul.tagit li.tagit-choice:hover {
    background-color: #00c4bc;
    color: #fff;
    text-shadow: none;
}
#page-body ul.tagit li.tagit-choice { 
    margin: 0 3px 0 0; 
    padding: 6px 18px 6px 6px;
    background-color: #00b5ad;
    color: #fff;
    text-shadow: none;
}

#page-body ul.tagit li.edited input.tagit-edit {
    height: 23px;
    margin: 0;
    width: auto;
    padding: 0;
    font-size: 12px;
    border: 0;
}

#page-body ul.tagit .ui-widget {
	font-size: 0.9em;
}

#reports .ui.selection.dropdown {
    min-width: 0;
}

#reports .field .dropdown:not(.multiple) .text {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
    margin: 0 !important;
}

#reports .buttons-container {
    padding: 19px 0 0 0 !important;
    min-width: 82px;
}

#media_filter_form {
    width: 70%;
    margin: 0 auto;
}

#media_filter_inputs {
    padding: 0;
}

#media_filter_form .buttons-container {
    padding: 32px 0 0 0 !important;
}

.media-list-item {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#media_list .content.data {
    width: 60%;
    min-width: 250px;
}

#media_list .content .region {
    width: 45px;
}

#media_list .content.region-country {
    width: 185px;
}

.highcharts-button {
    opacity: 0.5;
}

.highcharts-button:hover {
    opacity: 1;
    cursor: pointer;
}

.highcharts-button image:hover {
    cursor: pointer;
}

#save_impact_index_png, #save_impact_index_xls  {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
}

#save_impact_index_png {
    right: 24px;
    background: url('../img/png.svg');
}

#save_impact_index_xls, .download-xls {
    background: url('../img/xls.svg') no-repeat;
}

#save_impact_index_xls {
    right: 0px;
}

#save_regional_statistics_xls, #save_comparison_xls, #save_product_mentions_xls {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 32px;
    right: 22px;
}

#save_message_penetration_xls {
    display: block;
    height: 24px;
    width: 24px;
    float: right;
    margin-right: 5px;
}

#export_buttons_container {
    position: absolute;
    right: 10%;
}

#message_penetration_table {
    float: right;
}

#chart-impact-index.private g {
    cursor: pointer;
}

.clickable:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.img-file {
    position: relative;
    float: left;
}

.content-file {
    position: relative;
}

.fixed-first-column-table-block {
    position: relative;
}

.fixed-column-table {
    position: absolute;
    width: 300px !important;
    z-index: 1;
    border-top-color: #ffffff !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.fixed-column-table thead tr:first-child, .fixed-first-column-table-block thead tr:first-child {
    height: 41px;
}

.fixed-column-table thead tr th {
    box-shadow: -1px 0px 0px 0px rgb(255, 255, 255) !important;
}

.fixed-column-table  td{
    min-width: 300px;
}

.original-table-block {
    overflow-x: auto;
    overflow-y: hidden;
}

a.kpi-year-switch {
    padding-right: 10px;
}