.tab.manage .ui.form:not(.form-report),
.tab.manage .toggle-header:not(.form-report)
{
	display: none;
}

.tab.manage .ui.form.visible,
.tab.manage .toggle-header.visible
{
	display: block;
}

.tab.manage .toggle.invisible
{
	display: none;
}

.ui.page.admin  a.right.floated {
	padding: 10px;
}

.ui.page.admin  a.right.floated .icon {
	margin: 0
}


.users .accordion .email {
	font-size: 14px;
	padding-left: 32px;
}

.approve-active,
.users .approve,
.regions .approve,
.subregions .approve,
.countries .approve,
.products .approve,
.reports .approve,
.events .approve,
.campaigns .approve,
.business .approve,
.newsbreaks .approve,
.speakers .approve,
.subcategories .approve,
.import-history .approve,
.export-history .approve,
.import .approve,
.media .approve {
	display: none;
	opacity: 0;
}

.approve-restore-active,
.users .approve-restore,
.regions .approve-restore,
.subregions .approve-restore,
.countries .approve-restore,
.products .approve-restore,
.reports .approve-restore,
.events .approve-restore,
.campaigns .approve-restore,
.business .approve-restore,
.newsbreaks .approve-restore,
.speakers .approve-restore,
.subcategories .approve-restore,
.import-history .approve-restore,
.export-history .approve-restore,
.import .approve-restore,
.media .approve-restore {
	display: none;
	opacity: 0;
}

#page-body .delete-block {margin: 0;}

ul.pagination {
    list-style: none;
}

.pagination li {
    display: inline-block;
    margin: 3px;
    padding: 5px;
}

.manage .list .item .content {
    margin-top: 8px;
}

.manage .list .item .header {
    font-weight: normal;
}

.manage .list .item a {
    color: #00BAFF !important;
}

.manage .list .item a.button {
    color: #ffffff !important;
}

.manage .list .item.hidden-archived {
    display: none;
}
.list .item .ui.checkbox {
	margin-top: 8px;
}

#filters-menu { margin: 0; }
#filters-menu .segment { padding: 0; z-index: 100; }
#filters-menu.fixed {
    position:fixed;
    top:0; left:0;
    z-index: 100;
    text-align: center;
    padding: 0px 14px;
    width: 100%;
    margin: 0;
}
#reports-page .tabular.menu.fixed-menu {
    position: fixed;
    z-index: 101;
    bottom: auto;
    width: calc(100% - 2rem);
    left: 1rem;
    top: 0;
}
#reports-page .tabular.menu.scrollmargin { padding-bottom: 242px; }
#filters-menu .charts-nav-buttons { margin: 0 25px; width: 100%; text-align: center; }
#filters-menu .main-totals-menu { margin-top: -21px; }

.admin.page .content.data .icon {color: rgba(0, 0, 0, 0.8);}

#newsbreaks-list, #speakers-list, #subcategories-list, #users-list {
    position: relative;
}
#newsbreaks-list .ui.labels, #speakers-list .ui.labels, #subcategories-list .ui.labels, #users-list .ui.labels {
    position: absolute;
    right: 0;
    top: -35px;
}