h2 { text-align: center;margin: 0 0 10px; color: #00c4bc;}
input { 
	height: 25px; 
	padding: 1px 25px 1px 10px !important; 
	margin-right: 10px; width: auto; margin-bottom: 10px; display: inline-block; font-size: 10px;}
table th {font-size: 10px;font-weight: 500;}
table tbody tr td {font-size: 12px !important;}
table tr td:first-child {font-weight: 600;}

.fourteen.wide.column { width: 87.5% !important; }
.ui.form { font-size: 1rem; }
.ui.form .fields .wide.field:first-child { padding-left: 0; }
.ui.form .fields { display: flex; flex-direction: row; }

#reports { background-color: white; }
#reports .tab.segment { width: auto !important; }
#filters-menu .comparison .label {font-size: 12px;}
#filters-menu .comparison li {font-size: 10px; text-align: left;}
#filters-menu .comparison .field {display: inline-block;}
#filters-menu .filters {padding: 10px;}
.ui.centered.grid, .ui.centered.grid > .row, .ui.grid > .centered.row { justify-content: center; text-align: center;}

.ui.tab.segment {padding: 5px 15px;}
#kpi_table, #product_mentions_table, #comparison_table {margin: 20px auto;}
#reports-page .ui.label.header {padding: 5px !important;}
.pie {height: 380px;}

.main-totals-menu {margin: 10px !important; font-size: 12px;}

#reports-page .charts-nav-buttons {border:none !important; margin-bottom: 10px;}
.charts-nav-buttons .button {display: inline; border:none !important;}
.hide {display: none;}
#key_message_penetration {float: none; margin-top: -90px; margin-bottom: 20px;}
#key_message_penetration p {margin-top: 20px;}
#key_meesages {margin-bottom: 100px;}
.download-xls {display: none;}

#message_penetration_table, #kpi_table, #product_mentions_table, #comparison_table {border-collapse: collapse; border: 1px solid rgba(39, 41, 43, 0.15);}
#message_penetration_table {float: none;}
#message_penetration_table td {border: 1px solid rgba(39, 41, 43, 0.15); padding: 5px;}
#message_penetration_table th {background: rgb(245, 245, 245) none repeat scroll 0 0; padding: 5px;}

#kpi_table td, #kpi_table th, 
#product_mentions_table td, #product_mentions_table th,
#comparison_table td, #comparison_table th {
	border: 1px solid rgba(39, 41, 43, 0.15);
	min-width: 54px; 
	max-width: 54px; 
	word-wrap: break-word;
}

.bubble {height: 900px; margin: 0 auto;}

