#reports-page .ui.tabular.menu, #import-page .ui.tabular.menu {
    background-color: #fff;
    border-bottom: none;
    box-shadow: none;
    padding: 25px 0;
}
#reports-page .ui.tabular.menu .item, #import-page .ui.tabular.menu .item {
    border: none;
    border-radius: 40px !important;
    text-transform: uppercase;
    font-weight: bold;
    color: #9a9a9a;
}
#reports-page .ui.menu > .item:not(:last-child)::before, #import-page .ui.menu > .item:not(:last-child)::before {
  content: "|";
  display: block;
  font-weight: normal;
  width: 0px;
  opacity: 0.4;
  top: 10px;
}
#reports-page .ui.tabular.menu .active.item, #import-page .ui.tabular.menu .active.item {
    background-color: #00b5ad;
    color: #fff;
}
#reports-page .ui.selection.dropdown.multiple i.dropdown.icon { padding-top: 9px; }
#reports-page .ui.selection.dropdown:not(.multiple) { padding-bottom: 8px; }
#reports-page .ui.selection.dropdown:not(.multiple) div.text { height: 17px; }
#reports-page input { border: 1px solid rgba(39, 41, 43, 0.15) !important; }
#reports-page .ui.form input:focus:not([type]),
#reports-page .ui.form input[type="date"]:focus,
#reports-page .ui.form input[type="datetime-local"]:focus,
#reports-page .ui.form input[type="email"]:focus, 
#reports-page .ui.form input[type="number"]:focus, 
#reports-page .ui.form input[type="password"]:focus,
#reports-page .ui.form input[type="tel"]:focus,
#reports-page .ui.form input[type="text"]:focus,
#reports-page .ui.form input[type="url"]:focus {
    border-color: rgba(39, 41, 43, 0.3)  !important;
    box-shadow: 1px 0 0 0 rgba(39, 41, 43, 0.3) inset;
    color: rgba(0, 0, 0, 0.85)  !important;
}

#reports-page .ui.selection.active.dropdown, #reports-page  .ui.selection.active.dropdown .menu {
    border-color: rgba(39, 41, 43, 0.3) !important;;
}

.ui.form .width-10-percent.wide.field { width: 10% !important; }
.ui.form .width-13-percent.wide.field { width: 13% !important; }
.ui.form .width-15-percent.wide.field { width: 15% !important; }
.ui.form .width-17-percent.wide.field { width: 16.85% !important; }
.ui.form .width-19-percent.wide.field { width: 19% !important; }
.ui.form .width-20-percent.wide.field { width: 20% !important; }

#reports-page .buttons-container { width: 175px; padding: 0 !important;}
#reports-page .filters {
  background: rgb(245, 245, 245) none repeat scroll 0 0;
  border-radius: 6px;
  margin-bottom: 30px;
  margin-left: 0;
  padding: 20px 0 10px 3%;
}

#reports-page input, 
#reports-page .selection.dropdown,
#coverage-page input:not([type="search"]), 
#coverage-page .selection.dropdown {
  border-radius: 6px !important; 
  background-color: transparent; 
}

#reports-page .ui.checkbox.pdf {
  float: left;
}

#coverage-page .table-actions .field .button {
  padding: 12px 10px;
  margin: 0;
}

#coverage-page .table-actions .field .button.export_btn,
#coverage-page .table-actions .field .button.delete,
#coverage-page .table-actions .field .button.delete-all {
  background-color: inherit;
  border: 2px solid;
  padding: 10px 8px;
  box-shadow: none !important;
  margin-top: 1px;
}

#coverage-page .table-actions .field .button.black {
  color: #1b1c1d !important;
  border-color: #1b1c1d !important;
}
#coverage-page .table-actions .field .button.blue-btn {
  color: #2895f1 !important;
  border-color: #2895f1 !important;
}

#coverage-page .table-actions .field .button.red {
  color: #dc6868 !important;
  border-color: #dc6868 !important;
}

#page-body  .first-block input, 
#page-body  .first-block input:focus, 
#page-body  .first-block input:active { 
  border-right: none !important; 
  border-radius: 6px 0 0 6px !important;
}
#page-body  .second-block { 
  padding-right: 0px !important; 
  margin-right: -7px !important; 
}
#page-body  .second-block input, 
#page-body  .second-block input:focus, 
#page-body  .second-block input:active {
  border-left: none !important; 
  box-shadow: none !important; 
  padding-left: 10px !important; 
  padding-left: 17px !important;
  border-radius: 0 6px 6px 0 !important;
}
.second-block .ui.input{ margin-left: -14px !important; padding-left: 0px !important; }

.first-block::before {
  background-image: none;
  border-bottom: 1px solid #ccc;
  border-color: #ccc;
  border-right: 1px solid #ccc;
  content: "";
  height: 26px;
  position: absolute;
  right: 8px;
  top: 49%;
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
  transition: background 0.2s ease 0s;
  width: 26px;
  z-index: 2;
}
.first-block.highlight::after {
  content: "";
  z-index: 1;
  background: #fff;
  position: relative;
  top: 11px;
  height: 15px;
  -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
}
.first-block.highlight.public::after {
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 0 10px #f9f9f9;
  -moz-box-shadow: 0 0 0 10px #f9f9f9;
  box-shadow: 0 0 0 10px #f9f9f9;
}

.ui.transparent.button {
    box-shadow: 0 0 rgba(39, 41, 43, 0.15) inset;
}
.ui.transparent.button, .ui.transparent.buttons .button {
    background-color: transparent;
    background-image: none;
    color: #9a9a9a;
    text-shadow: none;
    border: 1px solid rgba(39, 41, 43, 0.15);
    padding: 10px;
}

.ui.transparent.button:hover {
  background-color: #e0e0e0;
}

#reports-page .ui.label.header,
#kpi-page .ui.label.header {
  border-radius: none;
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  color: black;
  background: rgb(245, 245, 245) none repeat scroll 0 0;
  border: 1px solid rgba(39, 41, 43, 0.15);
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}

#reports-page .ui.pointing.label::before {
  background: rgb(245, 245, 245) none repeat scroll 0 0;
  border-right: 1px solid rgba(39, 41, 43, 0.15);
  border-bottom: 1px solid rgba(39, 41, 43, 0.15);
}

#reports-page .highcharts-title {
  display: none;
}

#reports-page .charts-nav-buttons .ui.basic.teal.button, #reports-page .charts-nav-buttons .ui.basic.teal.buttons .button {
  color: #00c4bc !important;
  border-bottom: 2px solid rgba(39, 41, 43, 0.15);
}
#reports-page .charts-nav-buttons .ui.basic.button, #reports-page .charts-nav-buttons .ui.basic.buttons .button {
  box-shadow: none !important;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: -1px;
  color: #9a9a9a !important;
 }
#reports-page .charts-nav-buttons { border-bottom: 1px solid rgba(39, 41, 43, 0.15); }

#reports-page .charts-nav-buttons .ui.basic.button:hover, #reports-page .charts-nav-buttons .ui.basic.buttons .button:hover {
  box-shadow: none !important;
  background-color: transparent;
}

#reports-page .no-bottom-margin { margin-bottom: 0px; }
#reports-page .font-weight-normal { font-weight: normal; }

#reports-page table, #import-page table, #export-page table { border-radius: 0px; }
#reports-page table tr > th, #import-page td.date-column + td, #export-page td.date-column + td, #reports-page td.date-column + td{ border-left: 0px; }
#import-page .import .item .menu { border-left: 0px; } 
#import-page .date-column, #reports-page .date-column, #export-page .date-column { border-right: 0px; width: 190px; }

#reports-page .ui.grid.container {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1127px;
}
#import-coverage .upload-add,
#import-media .upload-add {
  padding: 10px;
  font-size: 20px;
  color: #fff;

}
#import-coverage .upload-add i,
#import-media .upload-add i {
  margin: 0;
  color: #fff;
  opacity: 1;
}

#import-coverage .header,
#import-media .header {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 15px;
}

#import-coverage .checkbox {
  position: absolute;
  right: 30px;
  bottom: 25px;
}
  
#import-page .ui.basic.teal.button,
#import-page .ui.basic.teal.buttons .button {
  color: #00c4bc  !important;
  box-shadow: 0 0 0 2px #00c4bc inset !important;
}

#import-page .ui.basic.red.button,
#export-page .ui.basic.red.button,
#coverage-page table .ui.basic.red.button,
#import-page .ui.basic.red.buttons .button,
#export-page .ui.basic.red.buttons .button,
#reports .ui.basic.red.button {
  color: #d95c5c  !important;
  box-shadow: 0 0 0 2px #d95c5c inset !important;
}
#import-page .ui.basic.blue.button, #export-page .ui.basic.blue.button, #coverage-page .ui.basic.blue.button, 
#import-page .ui.basic.blue.buttons .button, #export-page .ui.basic.blue.buttons .button, #coverage-page .ui.basic.blue.buttons .button {
  color: #2895f1  !important;
  box-shadow: 0 0 0 2px #2895f1 inset !important;
}

#coverage-page .ui.basic.yellow.button,
#reports .ui.basic.yellow.button,
#kpi-page .ui.basic.yellow.button {
  color: #fbbd08 !important;
  box-shadow: 0 0 0 2px #fbbd08 inset !important;
}

#coverage-page .ui.basic.orange.button {
  color: #db6435 !important;
  box-shadow: 0 0 0 2px #db6435 inset !important;
}

#coverage-page .ui.basic.green.button,
#reports .ui.basic.green.button{
  color: #5bbd72 !important;
  box-shadow: 0 0 0 2px #5bbd72 inset !important;
}

#import-page .import-history .item .menu, #reports-page  .item .menu, #export-page  .item .menu { width: 140px; }
#import-page .import-history .item .menu > a,
#import-page .import .item .menu > a,
#export-page .export-history .item .menu > a {
  display: none !important;
}
#import-page .import-history .item:hover .menu:not(.active-item-menu) > a,
#import-page .import .item:hover .menu:not(.active-item-menu) > a,
#export-page .export-history .item:hover .menu:not(.active-item-menu) > a {
  display: inline-block !important;
}

#reports .item:hover .menu:not(.active-block) > a { display: inline-block !important; }
#reports .item .menu > a { display: none !important; }

.zeroclipboard-is-active {
    display: inline-block !important;
}
.zeroclipboard-is-hover {
    display: inline-block !important;
}

#import-page table tr, #export-page table tr { min-height: 52px; }

.no-padding { padding: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
#import-page .icon-column, #export-page .icon-column { width: 52px; }
#import-page .icon-column .icon { margin-right: 0px; }

#import-page .item.import-errors td:first-child,
#import-page .item.import td:first-child,
#import-page .import-history .item td:first-child,
#export-page .export-history .item td:first-child {
  font-size: 22px;
  height: 52px;
}

#import-page .item.import-errors:hover {
  cursor: pointer;
}

#import-page .item.import-errors td:first-child,
#import-page .item-error .rows_count {
  color: #d95c5c !important;
}

#import-page .item.import td:first-child {
  color: #00c4bc;
}

#coverage-page .actions .button {
  padding: 10px;
  margin-right: 2px;
}

#import-page .item .menu .button .icon,
#reports .item .menu .button .icon,
#export-page .item .menu .button .icon {
    margin: 0;
}

#import-page .import .item.import-errors .dropdown.icon {
  transform: rotate(-90deg);
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  color: #d95c5c;
}

#import-page .import .item.import-errors.active .dropdown.icon{
  transform: rotate(0deg);
}

#import-page .import .item.import-errors.active td {
  background: rgb(245, 245, 245) none repeat scroll 0 0 !important;
}

#import-page .import .item-error td {
  padding-left: 30px;
}

#import-page .import .item-error .content {
  padding-bottom: 10px;
  padding-left: 20px;
  border-left: 1px #d95c5c solid;
  margin-left: 22px;
}

#import-page .item .menu, #reports .item .menu {
  text-align: right;
}

#import-page .item-error .accordion .content {
  color: #9a9a9a;
}

#import-coverage .upload-progress,
#import-coverage .import-progress,
#import-coverage .status,
#import-media .upload-progress,
#import-media .import-progress,
#import-media .status {
  text-transform: uppercase;
  color: rgba(39, 41, 43, 0.80);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

#import-page .import-progress.start {
  color: #9a9a9a;
}

.text-teal { color: #00b5ad !important; }
.text-blue { color: #3b83c0 !important; }
.text-orange { color: #e07b53 !important; }

#page-body .status-icon { font-size: 20px; }

#page-body table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even { background-color: #fff !important; }
#page-body .DTFC_LeftHeadWrapper th { border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.03);}
#page-body .DTFC_LeftHeadWrapper tr { height: 64px; }

#page-body .sub-columns { text-align: center; }
#page-body .sub-columns span:not(:last-child) { margin-right: 20px; }
#page-body .custom-icon:not(:last-child) { margin-right: 20px; }
#page-body .tonality-row .custom-icon:not(:last-child) { margin-left: 15px; margin-right: 40px; }

.custom-icon {
    backface-visibility: hidden;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    min-height: 25px;
    line-height: 1;
    margin: 0 0.25rem 0 0;
    opacity: 1;
    text-align: center;
    text-decoration: inherit;
    min-width: 25px;
}

.full tbody tr:first-child .sorting_1 { border-top: 1px solid transparent !important; }
.full .sorting_1, #page-body .sub-columns span, #page-body .sub-columns div.field { color: #aaa; font-weight: normal; }

.shortcontent, .allcontent {float: left;}

#page-body a, #page-body a:focus {
    outline: medium none;
}

#page-body .dataTables_wrapper .dataTables_filter {
  border: 1px solid rgba(39, 41, 43, 0.15);
  border-radius: 6px !important;
  padding: 9px;
  color: rgba(39, 41, 43, 0.15);
}

#page-body .dataTables_wrapper .dataTables_filter .search.icon {
  font-size: 18px;
}

.ui.page.coverage .table-actions .toggle {
  padding: 3px 10px;
  border: 1px solid rgba(39, 41, 43, 0.15);
  border-radius: 20px !important;
  width: 74px;
  position: absolute;
  right: 0;
  font-size: 20px;
  height: 40px;
}

.ui.page.coverage .table-actions .toggle .circle {
  position: absolute;
  height: 32px;
  width: 30px;
  border-radius: 15px !important;
  margin-left: 3px;
  margin-right: 3px;
}

.ui.page.coverage .table-actions .toggle .circle.full {
  left: 0;
}

.ui.page.coverage .table-actions .toggle .circle.compact {
  right: 0;
}

.ui.page.coverage .table-actions .toggle .ui.icon.button {
  padding: 8px 5px 5px;
}

.ui.page.coverage .table-actions .toggle .circle:not(.active) {
  background-color: transparent;
}

#page-body .small { text-align: center !important; }
#page-body .small div { margin: auto; }
#page-body .small i { margin: 0; }


.morelink .caret { color: #000; }

#coverage-page .DTFC_RightBodyWrapper tr:not(:first-child) td, #coverage-page .dataTables_scrollBody tr:not(:first-child) td { border-top: 1px solid #dddddd; }
#coverage-page table.dataTable thead .sorting_desc { background-image: none; }
#coverage-page table.dataTable.no-footer {border-bottom: 1px solid #dddddd; }

.sub-text { color: #aaa; font-size: 12px; text-transform: capitalize; }
.column-block { margin-bottom: 5px !important; }

#coverage-page table.compact td { vertical-align: top; }
#coverage-page table.compact .column { padding: 0; }
#coverage-page .text-center { text-align: center !important; }
#coverage-page .analytics-block { text-align: center !important; max-width: 200px; padding: 0 !important; margin: auto !important; }
#coverage-page .publication-block { max-width: 300px; }
#coverage-page table.compact .column:not(:last-child) { padding: 0 10% 0 0; }
#coverage-page .ui.label { border-radius: 20px; color: rgba(0, 0, 0, 0.6); }
#coverage-page .ui.grid { margin: 0; }
#coverage-page  table.compact .ui.label { background: transparent; }

.ui.basic.label {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: none;
    color: rgba(0, 0, 0, 0.87);
}

#coverage-page #fixed-table .ui.checkbox .box::before, #coverage-page #fixed-table .ui.checkbox label::before {
  height: 15px;
  width: 15px;
}
#coverage-page .fields {margin-left: -6px;}
#coverage-page .fields .ui.checkbox { width: 22px; }
#coverage-page .dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

#page-body .ui.checkbox .box::after, #page-body .ui.checkbox label::after { color: #00b5ad; }

#coverage-page table .ui.button, #coverage-page table .ui.buttons .button, #coverage-page table .ui.buttons .or, 
#reports table .ui.button {
  font-size: 16px;
  padding: 5px;
  height: 16px;
  width: 18px;
}
#reports table .approve > .ui.button {
  font-size: 14px;
  height: 16px;
  padding: 5px;
  width: auto;
}
#import-page table .ui.button, #export-page table .ui.button {
  padding: 5px;
  font-size: 16px;
}
#coverage-page table .ui.button.return .icon {
  font-size: 12px;
  margin-top: 2px;
}
#coverage-page table .ui.button.complete .icon {
  margin-top: 1px;
}


#coverage-page table .ui.button.no, #coverage-page table .ui.button.yes {
  font-size: 11px;
  padding: 7px 4px 2px 4px;
  width: 20px;
}

#coverage-page .segment { padding-bottom: 10px; }
#coverage-page .footer-menu { margin-left: 21px; margin-bottom: 0px; position: absolute; margin-top: -60px; }
#coverage-page table.dataTable.cell-border tbody tr th:first-child, #coverage-page table.dataTable.cell-border tbody tr td:first-child { border-left: none;}
#coverage-page .column-menu { height: 30px; }


#coverage-page .column-menu .actions > a.item,
#coverage-page .column-menu > a.item {
  display: none !important;
}
#coverage-page  tr:hover .actions > a.item,
#coverage-page  tr:hover .column-menu > a.item {
  display: inline-block !important;
}

.tonality-popup span {
  color: #d95c5c;
  cursor: pointer;
  border-bottom: 1px dashed #d95c5c;
}
.tonality-popup { width: 25px; height: 25px; }

#coverage-page .ui.bottom.right.popup::before {
  border-top: 2px solid #4f5964;
  border-left: 2px solid #4f5964;
  margin: -1px;
  box-shadow: none;
}
#coverage-page .ui.center.left.popup::before {
  border-top: 2px solid #4f5964;
  border-right: 2px solid #4f5964;
  margin: -3px;
  box-shadow: none;
}
#coverage-page .ui.center.right.popup::before {
  border-bottom: 2px solid #4f5964;
  border-left: 2px solid #4f5964;
  margin: -3px;
  box-shadow: none;
}
#coverage-page .ui.top.left.popup::before {
  border-bottom: 2px solid #4f5964;
  border-right: 2px solid #4f5964;
  margin: -3px;
  box-shadow: none;
}
#coverage-page .ui.bottom.left.popup::before {
  border-left: 2px solid #4f5964;
  border-top: 2px solid #4f5964;
  margin: -1px;
  box-shadow: none;
}
#coverage-page .ui.top.right.popup::before {
  border-bottom: 2px solid #4f5964;
  border-right: 2px solid #4f5964;
  margin: -3px;
  box-shadow: none;
}
#coverage-page .ui.popup {
  border-radius: none;
  border: 2px solid #4f5964;
  text-align: left;
}

#coverage-page .ui.popup .header { margin-bottom: 15px; }
#import-page .dataTables_wrapper .dataTables_filter { margin-top: -50px; margin-right: 0; }
#import-page table.dataTable.no-footer, #export-page table.dataTable.no-footer, #reports-page table.dataTable.no-footer { border-bottom: 1px solid #d0d0d0; }
#import-page .icon-column { font-size: 22px; }
#import-history-table_wrapper { margin-top: 11px; }
#import-history-table_wrapper .menu > a:not(:last-child), #import-history-table_wrapper .approve > a:not(:last-child) { margin-right: 4px !important; }
#import-history-table_wrapper .pagination > a::before { content: none !important; }
#import-page .table-actions, #export-page .table-actions { margin-bottom: -53px; margin-top: -7px; }

#coverage-page .compact .comment-icon { font-size: 24px; display: block; float: right; cursor: pointer; margin-top: -1px; }

#page-body .ui.modal .actions { background: none; border-top: none; }
#page-body .ui.modal .header { padding-bottom: 10px; padding-top: 10px; font-size: 16px; text-transform: uppercase; color: white; }
#page-body .ui.modal > .header { background: #4f5964; border-radius: 0px; }
#page-body .ui.modal { border-radius: 0px; width: 650px; left: 0; right: 0; margin: auto; }

#page-body .no-border-button { border: none !important; box-shadow: none !important; margin-left: 0px; }
#page-body .modal .button { text-transform: uppercase; }
#page-body #delete-modal { width: 400px; }

#coverage-page .edit-column-btn { position: absolute; right: 0px; margin: 0px; top: 0px; }
#page-body table.compact td:hover > .edit-column-block { display: block; }
#page-body .edit-column-block { position: relative; margin-top: -15px; margin-right: -10px; margin-bottom: 15px; display: none; }
#page-body .small .edit-column-block { margin-top: -15px; margin-bottom: 15px; margin-right: -10px; }

#coverage-page table.compact tbody tr td { padding: 15px 10px; }

#coverage-page table .edit-column-block .ui.button {font-size: 12px; height: 15px; padding: 2px; width: 18px;}
#kpi-page table .edit-column-block .ui.button {font-size: 12px; height: 19px; padding: 2px; width: 22px; margin: 0;}

#edit-coverage-modal .content { padding-top: 5px; }

.no-margin-top { margin-top: 0px !important; }
.no-margin-bottom { margin-bottom: 0px !important; }

#edit-coverage-modal form > .grid:not(:first-child) { margin-top: -14px }
#edit-coverage-modal .ui.form .products { margin-top: 1em; }

#edit-coverage-modal .ui.form .products > .fields,
#edit-coverage-modal .ui.form .business > .fields { 
  border: 1px solid rgba(39, 41, 43, 0.15);
  padding: 0 1em;
  height: 200px;
  overflow: auto;
}
#edit-coverage-modal .ui.form .business > .fields { height: 100px; padding-top: 10px;}
#edit-coverage-modal .edit-tonality .ui.selection.dropdown { padding: 5px 10px; }
#edit-coverage-modal .edit-tonality .custom-icon { vertical-align: middle; }
#edit-coverage-modal .edit-tonality textarea { height: inherit; min-height: inherit; max-height: inherit; border-radius: 0px;}

#page-body .edit-tonality .dropdown.icon { top: 10px; }

#page-body .tagit-new { padding-left: 14px; padding-top: 5px; }

#page-body .edit-column-btn:hover {
  background-color: #fbbd08 !important;
  background-image: none !important;
  text-shadow: none !important;
}
#page-body .edit-column-btn i { margin-top: 1px; }
#page-body .edit-column-btn:hover i {
  color: white !important;
  background: url("../img/edit-white.svg") no-repeat scroll center center rgba(0, 0, 0, 0);
}

#charts-report-list-table tr { height: 54px; }
.ui.tab.segment.reports {
  padding-top: 0px;
}

#page-body .fixed-id-column .column-block { min-width: 150px; }

#reports-page .paginate_button.item { display: inline-block; border-radius: 0; }

#reports .vertical_stat .vertical { margin: 15% -35px 0 -45px;  }
#reports .vertical_stat div.vertical { width: 120px; }
#reports .vertical_stat .menu div { width: 200px; overflow: hidden; }
#reports .vertical_stat div.menu { min-height: 95px; }
#reports .vertical_stat .sub_menu { vertical-align: top; }

#filters-menu .ui.selection.multiple.dropdown:not([data-filter="section"]) .ui.label { 
  width: 100%; 
  position: relative; 
  padding-right: 20px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}
#filters-menu .ui.selection.multiple.dropdown { padding-right: 25px; }
#filters-menu .ui.selection.multiple.dropdown:not([data-filter="section"]) .dropdown.icon {
  bottom: 0;
  top: 0;
  margin: auto 0;
  right: 8px;
  padding: 0;
}
#filters-menu .ui.selection.multiple.dropdown:not([data-filter="section"]) .delete.icon {  position: absolute; right: 5px; }
#filters-menu .ui.label.filter { font-size: 1em; background-color: transparent; padding-left: 14px; }

#filters-menu .ui.selection.multiple.dropdown.search input {
  border: none!important;
}

#filters-menu .ui.top.button, #filters-menu .ui.top.buttons .button, #filters-menu .ui.top.transparent.button, #filters-menu .ui.top.transparent.buttons .button {
    font-size: 0.7rem;
    float: right;
}
#filters-menu .ui.top.transparent.button, #filters-menu .ui.top.transparent.buttons .button { padding: 7px; }
#filters-menu .ui.label.filter { padding-left: 0px; padding-right: 0px; font-size: 13px; }

#export-page {
  background-color: #fff;
  border-radius: 0.2857rem 0.2857rem 0 0;
}

.ui.labeled.icon.input.highlight input[type=text],
.ui.labeled.icon.input.highlight input[type=text]:focus,
.ui.labeled.icon.input.highlight input[type=text]:disabled,
.dataTables_filter.highlight {
  -webkit-box-shadow: 0 0 10px 0 rgba(91, 189, 114, 1) !important;;
  -moz-box-shadow: 0 0 10px 0 rgba(91, 189, 114, 1) !important;;
  box-shadow: 0 0 10px 0 rgba(91, 189, 114, 1) !important;
  background-color: #fff !important;
}
.ui.labeled.icon.input.highlight > i.icon {
  z-index: 3;
}
#page-body .second-block .input.highlight input[type=text],
#page-body .second-block .input.highlight input[type=text]:focus,
#page-body .first-block .input.highlight input[type=text]:focus {
  -webkit-box-shadow: 0 0 10px 0 rgba(91, 189, 114, 1) !important;
  -moz-box-shadow: 0 0 10px 0 rgba(91, 189, 114, 1) !important;
  box-shadow: 0 0 10px 0 rgba(91, 189, 114, 1) !important;
  background-color: #fff !important;
}
.ui.selection.dropdown.highlight {
  -webkit-box-shadow: 0 0 10px 0 rgba(91, 189, 114, 1);
  -moz-box-shadow: 0 0 10px 0 rgba(91, 189, 114, 1);
  box-shadow: 0 0 10px 0 rgba(91, 189, 114, 1);
  background-color: #fff !important;
}
.ui.right.labeled.icon.input.first-block {
  display: inline-flex;
}

#coverage-form .analytics {margin-bottom: 0;}
#coverage-form .tooltip {margin-bottom: 10px;}

#kpi-page .relative {position: relative;}
#kpi-page .edit-column-block {position: absolute !important; top: 0; right: 0; margin: -1px 0 0; }
#kpi-page .table-header {font-weight: 600; font-size: 16px;}
#kpi-page table { margin-bottom: 30px; text-align: left; vertical-align: center;}
#kpi-page table .pre { white-space: pre-wrap; }
#kpi-page table th { font-size: 13px; color: #00b5ad; }
#kpi-page table td:not(:first-child), #kpi-page table th { text-align: center; }
#kpi-page table tr:hover td.negative, #kpi-page table tr.negative:hover { background: #FDAAAA none repeat scroll 0 0 !important; }
#kpi-page table td.negative { background: #FED7D7 none repeat scroll 0 0 !important; }
#kpi-page table td.negative { color: inherit !important; }
#kpi-page table td:not(:first-child) { font-weight: 700; }
#kpi-page table .kasp-lab span.kasp-lab { color: #2895f1 !important; }
#kpi-page .ui.table tr td, #kpi-page .ui.table tr th { border-left: 1px solid #00c4bc; border-top: 1px solid #00c4bc;}
#kpi-page .ui.table tr td:last-child, #kpi-page .ui.table tr th:last-child { border-right: 1px solid #00c4bc; }
#kpi-page .ui.table tr:last-child td { border-bottom: 1px solid #00c4bc; }
#kpi-page pre {margin: 0;}
#kpi-records-modal .ui.checkbox { display: block; }
#kpi-regions .fields { 
  border: 1px solid rgba(39, 41, 43, 0.15);
  background: rgb(245, 245, 245) none repeat scroll 0 0;
  margin-bottom: 20px;
  padding: 11px 8px;
}

.new-speaker .basic.button {
  border: 1px solid #5bbd72;
  box-shadow: none;
}

.new-speaker .basic.button:hover {
  border: 1px solid #5bbd72;
  box-shadow: none;
}


#reports-page .ui.tabular.menu {
  position: relative;
}

#reports-page .ui.tabular.menu #fixMenu {
  position: absolute;
  bottom: 12px;
  right: 83px;
}

.coding-year-form .ui.form .grouped.fields {
  border: 1px solid rgba(39, 41, 43, 0.15);
  padding: 0 1em;
  height: 200px;
  overflow: auto;
}