html, body {
    /*font-size: 16px;*/
    /*margin: 0;*/
    padding: 0;
    /*overflow-x: hidden;*/
}

body {
    background: #4F5964;/*#556270;*/
    font-size: 0.875rem;
    line-height: 1.42857143;    
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: white;
    font-weight: 500;
}

.ui.grid .fields.login {
    margin-top: 1.5em !important;
}

.ui.grid .fields.login .field {
    float: right;
}

.ui.grid .fields.login .field:nth-child(1) {
    margin-right: 5%;
}

.ui.grid .fields.login input {
    background: #fff0c1 !important;
    color: black !important;
}

.ui.secondary.pointing.menu {
    border-bottom: none;
    margin: 0;
    padding-left: 1em !important;
}

.ui.secondary.pointing.menu .item {
    margin-right: 2em;
    font-size: 1.125rem;
    color: white;
}

.ui.secondary.pointing.menu .item:hover{
    color: #ffffff !important;
    opacity: 1 !important;
}

.ui.secondary.pointing.menu .item:nth-child(1) {
    margin-left: 1.5em;
}

.ui.secondary.pointing.menu .item.active {
    background: white;
    color: #556270;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ui.secondary.pointing.menu .item.active:hover {
    background: white;
    color: #556270 !important;
}

.ui.tab.segment {
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 45px 25px;
}

.ui.tab.segment .ui.grid {
    margin: 0;
}

.ui.tab.segment .ui.grid > .row {
    font-size: 1rem;
    margin-top: 0;
}
.ui.tab.segment .ui.grid .ui.selection.dropdown {
    /*background: #f7f7f7;*/
}

.ui.tab.segment .ui.grid .fields.geo .ui.selection.dropdown {
    width: 82%;
    padding: 0.55em 1em;
}

.ui.tab.segment .ui.grid .fields.analitics .ui.selection.dropdown {
    width: 95%;
    padding: 0.55em 1em;
}

.ui.tab.segment .ui.grid .fields.analitics textarea {
    height: 6em;
    min-height: 6em;
}

.ui.tab.segment .ui.grid .ui.selection.dropdown > .dropdown.icon {
    float: right;
}

.ui.tab.segment .ui.grid .row.next-stage {
    text-align: center;
    margin: 2% 0;
}

.ui.form .fields.geo .grouped.fields {
    margin-bottom: 0;
}

.ui.tab.segment .ui.grid .fields.inline-radios .field {
    display: inline-block;
    margin-right: 2.5em;
}

.ui.tab.segment .ui.grid .fields.article-url .fields.inline-radios .field {
    display: inline-block;
    margin-right: 1em;
}

.ui.tab.segment .ui.grid .fields.products .field {
    padding-left: 0;
}

.ui.tab.segment .ui.grid .fields.products h4 {
    font-weight: normal;
    font-size: 0.8125rem;
    color: #555555;
}

.global-submit {
    color: #fff;
    opacity: 0;
    transition-delay: 1s;
    transition: all 0.5s;
}

.ui.grid .global-submit h5 {
    color: white !important;
    font-weight: normal !important;
    font-size: 0.875rem;
}

.ui.labeled.icon.input:not(.left) > .icon {
    margin-right: 0;
}

.ui.labeled.icon.input:not(.left) > input {
    padding-right: 1.75em !important;
}

.ui.grid .row .ui.segment {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.ui.grid .row .input.blue input {
    background: #eff9fd !important;
}

i.yellow.icon {
    color: #ecbf32 !important;
}

i.icon.circle.blank {
    opacity: 0.2 !important;
}

.ui.form .field > label,
.ui.form .fields.products > label {
    font-size: 0.8125rem;
}

/* charts page */

.ui.page.charts h3 {
    color: #556270;
    font-weight: normal;
}

.ui.page.charts .ui.segment {
    overflow: hidden;
    padding-top: 1.5%;
}

.ui.page.charts .row,
.ui.page.charts h3 {
    margin-left: 1% !important;
}

.ui.page.charts .ui.pointing.secondary.menu,
.ui.page.admin .ui.pointing.secondary.menu {
    background: #d7d7d7;
    margin: 1% -1% 0 -1%;
    text-align: center;
}

.ui.page.admin .ui.pointing.secondary.menu {
    background: transparent;
}

.ui.page.charts .ui.pointing.secondary.menu .item {
    padding: 0.6em 7.2em;
    border: 1px solid #fff;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 2em;
    margin-right: 0;
    font-weight: normal;
}

.ui.page.admin .ui.pointing.secondary.menu .item {
    /*padding: 0.6em 2.2em;*/
    border: 1px solid #fff;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 1em;
    margin-right: 0;
    font-weight: normal;
}

.ui.page.admin .ui.pointing.secondary.menu .item.active {
    color: #556270 !important;
    font-weight: normal;
}

.ui.page.charts .ui.pointing.secondary.menu .item.active {
        color: #556270 !important;
    font-weight: normal;
}

.ui.page.charts .ui.pointing.secondary.menu .item:hover,
.ui.page.admin .ui.pointing.secondary.menu .item:hover {
    /*color: #ffffff !important;*/
}

.ui.page.charts .ui.pointing.secondary.menu .item.active,
.ui.page.admin .ui.pointing.secondary.menu .item.active {
    border-color: white;
}

.ui.page.charts .chart-nest {
    margin: 5% 0 !important;
}

.ui.segment.charts .chart-nest svg text[text-anchor="end"] {
    /*fill: #fff !important;
    color: #fff !important;*/
}

.ui.segment.charts .highcharts-title {
    /*fill: #fff !important;*/
    color: #646388 !important;
    text-transform: uppercase;
    font-size: 22px !important;
    font-family: "Open Sans" sans-serif !important;
    padding: 10px 20px;
}

.ui.page.charts .chart-nest .highcharts-container {
    overflow: visible !important;
}

.ui.page.charts .chart-nest .highcharts-container svg {
    margin-top: 20px;
}

.ui.page.table .row.table-wrapper {
    overflow-x: scroll;
}

.ui.page.table .row.table-actions a {
    /*min-width: 120px;*/
}

.ui.page.table .row.table-actions a:nth-child(1) {
    /*margin-right: 30px;*/
}

.ui.page.table .ui.segment {
    padding: 30px 30px;
}

.ui.page.table table.ui.segment {
    margin: 30px 0 30px 20px !important;
    border-collapse: collapse;
}

.ui.page.table .ui.segment table tbody tr:nth-child(2n) {
    background-color: transparent;
}

.ui.page.table .ui.segment table thead {
    border-bottom: 0;
}

.ui.page.table .ui.segment table thead th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.ui.page.table .ui.segment table thead tr th:not(.small),
.ui.page.table .ui.segment table tbody tr td:not(.small) {
    min-width: 120px;
}

.ui.page.table .ui.segment table thead tr th.middle,
.ui.page.table .ui.segment table tbody tr td.middle {
    min-width: 120px;
    max-width: 220px;
}

.ui.page.table .ui.segment table tbody tr td {
    padding: 0.60em 0.7em;
}

.ui.page.table .ui.segment table thead tr th {
    padding: 0.80em 0.7em;
}

.ui.page.table .ui.segment table.full thead tr th:nth-child(1),
.ui.page.table .ui.segment table.full tbody tr td:nth-child(1) {
    width: auto !important;
    min-width: 48px !important;
    border-bottom: 0;
    border-left: 0 none !important;
}

.ui.page.table .ui.segment table.full thead tr th:nth-child(1),
.ui.page.table .ui.segment table.full tbody tr td:nth-child(1) {
    border-right: 0 none !important;
}

.ui.page.table .ui.segment table thead tr th:last-child,
.ui.page.table .ui.segment table tbody tr td:last-child {
    width: auto !important;
    /*min-width: 35px !important;*/
    border: 0;
    text-align: center;
    background-color: #fff;
}

.ui.page.table .ui.segment table thead tr th:last-child {
    border-radius: 0;
    background: #f7f7f7 none repeat scroll 0 0;
}

.ui.page.table .ui.segment table.full thead tr th:last-child {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background: #fff !important;
}

table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
    background-color: #f7f7f7 !important;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: transparent !important;
}

.ui.page.table .ui.segment table tbody tr.selected td,
table.dataTable.display tbody tr.odd.selected > td, table.dataTable.order-column.stripe tbody tr.odd.selected > td,
table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1,
table.dataTable tbody tr.selected {
    background-color: #f9fefe !important;
}

.ui.page.table table.dataTable.display tbody tr.odd > .sorting_1,
.ui.page.table table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: inherit;
}

.dataTables_scrollHeadInner thead tr th {
    background-color: #f7f7f7 !important;
}

.ui.page.table .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: transparent;
    height: auto !important;
}

.ui.page.table .dataTables_wrapper.no-footer .dataTables_scrollBody table {
    border-bottom: 1px solid #d1d1d1;
}

.ui.page.table .dataTables_scrollBody {
    border-left: 1px solid #d1d1d1 !important;
    border-right: 1px solid #d1d1d1 !important;
}
.ui.page.table .dataTables_scrollHead {
    border-top: 1px solid #d1d1d1 !important;
    border-left: 1px solid #d1d1d1 !important;
    border-right: 1px solid #d1d1d1 !important;
}

#page-body .dataTables_wrapper .dataTables_filter input {
    margin: 0;
    font-size: 1em;
    background-color: #FFF;
    outline: 0;
    padding-left: 23px !important;
    padding-right: 0px !important;
    color: rgba(0,0,0,.7);
    -webkit-transition: background-color .3s ease-out,-webkit-box-shadow .2s ease,border-color .2s ease;
    -moz-transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
    transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
    -webkit-box-shadow: 0 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 0 rgba(0,0,0,.3) inset;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#coverage-page .ui.page.table .dataTables_scroll {
    border-left: 1px solid #d1d1d1 !important;
    border-right: 1px solid #d1d1d1 !important;
}

#coverage-page.ui.page.table .dataTables_wrapper {
    margin-bottom: 30px;
    margin-left: 20px;
}

.ui.table * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}

#page-body .dataTables_wrapper .dataTables_filter {
    position: absolute;
    top: -54px;
    right: 0;
    margin-right: 90px;
}
#fixed-table_wrapper .top {
    position: relative;
}

@media (max-width: 1300px) {
    #fixed-table_wrapper .top {
        position: static;
    }
    #fixed-table_wrapper {
        position: relative;
    }
    #page-body .dataTables_wrapper .dataTables_filter {
        top: 0;
        right: auto;
        left: 0;
        margin-right: 0;
    }
}

#fixed-table_wrapper .top,
#import-history-table_wrapper .top,
#export-history-table_wrapper .top,
#charts-report-list-table_wrapper .top {
    margin-bottom: 30px;
    display: table;
    width: auto;
    float: right;
    height: 30px;
    text-align: center;
}

#fixed-table_wrapper .bottom,
#import-history-table_wrapper .bottom,
#export-history-table_wrapper .bottom,
#charts-report-list-table_wrapper .bottom {
    margin-top: 30px;
    display: table;
    width: auto;
    float: right;
    height: 30px;
    text-align: center;
}

#fixed-table_wrapper .top > div,
#import-history-table_wrapper .top > div,
#export-history-table_wrapper .top > div,
#charts-report-list-table_wrapper .top > div ,
#fixed-table_wrapper .bottom > div,
#import-history-table_wrapper .bottom > div,
#export-history-table_wrapper .bottom > div,
#charts-report-list-table_wrapper .bottom > div {
    display: inline-block !important;
    vertical-align: middle;
    width: auto;
    float: none !important;
}

#page-body .dataTables_wrapper .dataTables_length,
.top  .dataTables_length {
    padding: 0 10px;
}

#page-body .dataTables_wrapper .dataTables_info,
.top .dataTables_info {
    padding: 0 10px;
    clear: none;
    border-right: 1px solid #d1d1d1;
}

.top {
    margin-top: 0;
}

#page-body .dataTables_wrapper .dataTables_paginate,
.top .dataTables_paginate {
    padding: 0;
}

.top .dataTables_paginate .paginate_button,
.bottom .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333333 !important;
    border: 1px solid transparent;
}


.dataTables_paginate .paginate_button:hover,
.dataTables_paginate .paginate_button.current {
    color: #333333 !important;
    border: 1px solid #cacaca;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
    background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
    background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
    background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
    background: -o-linear-gradient(top, white 0%, gainsboro 100%);
    background: linear-gradient(to bottom, white 0%, gainsboro 100%);
}

#page-body .dataTables_wrapper .dataTables_paginate .paginate_button.current,
#page-body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button:hover {
    background: #f7f7f7 !important;
    border-width: 0px 1px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button { background: white none repeat scroll 0 0 !important; }
.dataTables_wrapper .dataTables_paginate span .paginate_button.current,
.dataTables_wrapper .dataTables_paginate span .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate span .paginate_button:focus {
    background: #f7f7f7 !important;
    border-width: 0px 1px !important;
    border-color: #d1d1d1;
    color: #333333 !important;
    box-shadow: none !important;
}

#fixed-table_previous:not(.disabled):hover,
#fixed-table_previous:not(.disabled):focus, 
#fixed-table_next:not(.disabled):hover,
#fixed-table_next:not(.disabled):focus,
#charts-report-list-table_previous:not(.disabled):hover,
#charts-report-list-table_previous:not(.disabled):focus, 
#charts-report-list-table_next:not(.disabled):hover,
#charts-report-list-table_next:not(.disabled):focus,
#import-history-table_previous:not(.disabled):hover,
#import-history-table_previous:not(.disabled):focus, 
#import-history-table_next:not(.disabled):hover,
#import-history-table_next:not(.disabled):focus,
.dataTables_paginate .paginate_button.item.next:hover,
.dataTables_paginate .paginate_button.item.next:focus,
.dataTables_paginate .paginate_button.item.previous:hover,
.dataTables_paginate .paginate_button.item.previous:focus {
    background: #f7f7f7 !important;
    border: 1px solid #f7f7f7  !important;
    color: #333333 !important;
    box-shadow: none;
}

.dataTables_wrapper .ui.checkbox {
    position: absolute;
    left: -26px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 0 !important;
}

.ui.page.table .DTFC_LeftBodyWrapper {
    border-right: 1px solid #d1d1d1 !important;
}

.ui.page.table .DTFC_LeftBodyWrapper td {
    text-align: center !important;
}

.ui.page.table .DTFC_LeftBodyLiner {
    top: 0px !important;
    overflow: hidden !important;
}

.ui.page.table .DTFC_LeftHeadWrapper {
    border-top: 1px solid #d1d1d1 !important;
    border-right: 1px solid #d1d1d1 !important;
}

.ui.page.table .DTFC_LeftHeadWrapper th {
    background: none !important;
    text-align: center;
    background: #f7f7f7 !important;
}

.branding {
    background: #424c58;
    margin-bottom: 3%;
}

.branding h1 {
    margin: 4% 0;
}

.column.center * {
    text-align: center;

}

a {
    color: #009FDA;
}

a:hover {
    color: #00BAFF;
}

.ui.divided.list > .item, .ui.divided.list:not(.horizontal) > .list {
    padding-top: 0.8em;
}

.field a.export_btn, .field a.delete {margin-right: 0px !important;}
.table.coverage .ui.selection.dropdown {min-width: 0 !important;}
.table.coverage .ui.selection.dropdown > .text {
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
    margin: 0 !important;
}

.icon-positive {background: url("../img/smile-ok.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-neutral {background: url("../img/smile-neutral.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-negative {background: url("../img/smile-bad.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.main_tonality.icon-negative:hover {background: url("../img/why.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-dead {background: url("../img/smile-verybad.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}

.icon-diamond {background: url("../img/list-diamond.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-platinum {background: url("../img/list-platinum.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-gold {background: url("../img/list-gold.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}

.icon-agency {background: url("../img/type-agency.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-print {background: url("../img/type-print.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-online {background: url("../img/type-online.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-radio {background: url("../img/type-radio.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-tv {background: url("../img/type-tv.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}

.icon-vertical {background: url("../img/cat-vertical.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-business {background: url("../img/cat-biz.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-it {background: url("../img/cat-it.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-general {background: url("../img/cat-general.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}

.icon-comment {background: url("../img/comment.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-coverage {background: url("../img/table.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 16px; width: 16px; font-size: 18px !important; }
.icon-media {background: url("../img/list.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 16px; width: 16px; font-size: 18px !important; }

.icon-coverage-color {background: url("../img/table-color.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 16px; width: 16px; font-size: 18px !important; }
.icon-media-color {background: url("../img/list-color.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 16px; width: 16px; font-size: 18px !important; }

.icon-download {background: url("../img/download.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-edit-yellow {background: url("../img/edit-yellow.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}
.icon-edit-white {background: url("../img/edit-white.svg") no-repeat scroll center center rgba(0, 0, 0, 0); height: 24px; width: 24px;}

.DTFC_RightBodyLiner, .DTFC_ScrollWrapper {
    overflow: hidden; 
    border-right: 1px solid #ddd; 
    border-top: 1px solid transparent; 
    border-left: 1px solid #ddd;
}

.DTFC_ScrollWrapper {
    overflow: visible; 
}

.DTFC_RightBodyLiner, .DTFC_RightBodyWrapper {
    overflow: hidden !important;
}

.DTFC_RightBodyLiner {overflow: hidden !important; }

.vertical_stat .vertical {
    float: left;
    margin: 50px -30px 0 -50px;
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -moz-transform: rotate(-90deg);   /* Firefox */
    -ms-transform: rotate(-90deg);   /* IE 9 */
    -o-transform: rotate(-90deg);   /* Opera */
    transform: rotate(-90deg);
}

.vertical_stat .menu {float: left;}
.vertical_stat .menu div, .vertical_stat .sub_menu div {margin-top: 10px;}
.kpi td small {opacity: 0.7}

.notification {
    color: rgb(100, 99, 136);
    font-size: 22px;
}

#reports .ui.segment[class*="bottom attached"] {border-radius: 0;}
#reports .ui.segment.attached, #import-page .ui.segment.attached {border: 0; width: 100%;}
#reports .main-totals {margin-left: 25px;}

#page-body .ui-state-hover,
#page-body .ui-widget-content .ui-state-hover,
#page-body .ui-widget-header .ui-state-hover,
#page-body .ui-state-focus,
#page-body .ui-widget-content .ui-state-focus,
#page-body .ui-widget-header .ui-state-focus {background: none; border: 0; color: #000;}

#error-block.ui.styled.accordion {width: auto;}
#error-block .message.positive .title {background-color: #eeffe7; color: #3c763d !important;}
#error-block .message.negative .title {background-color: #fff0f0; color: #cd2929 !important;}
#error-block .message.negative .content {color: #cd2929 !important;}
#error-block .message.positive .content {color: #3c763d !important;}

#page-body .ui-autocomplete.ui-corner-all {max-height: 300px; overflow: auto;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*--------------
   Hoverable
---------------*/

.ui.selectable.table tbody tr:hover {
    background: rgba(0, 0, 0, 0.05) !important;
    color: rgba(0, 0, 0, 0.95) !important;
}

.ui.selectable.inverted.table tbody tr:hover {
    background: rgba(255, 255, 255, 0.08) !important;
    color: #ffffff !important;
}

/* Other States */

.ui.selectable.table tr.error:hover,
.ui.selectable.table tr:hover td.error {
    background: #ffe7e7 !important;
    color: #943634 !important;
}

.ui.selectable.table tr.warning:hover,
.ui.selectable.table tr:hover td.warning {
    background: #fff4e4 !important;
    color: #493107 !important;
}

.ui.selectable.table tr.active:hover,
.ui.selectable.table tr:hover td.active {
    background: #e0e0e0 !important;
    color: rgba(0, 0, 0, 0.87) !important;
}

.ui.selectable.table tr.positive:hover,
.ui.selectable.table tr:hover td.positive {
    background: #f7ffe6 !important;
    color: #275b28 !important;
}

.ui.selectable.table tr.negative:hover,
.ui.selectable.table tr:hover td.negative {
    background: #ffe7e7 !important;
    color: #943634 !important;
}

#fixed-table_processing {
    position: fixed;
    z-index: 9999999;
    height: 65px;
    top: 30%;
    width: 50%;
    left: 75%;
    background-color: transparent;
    background-image: none;
    font-size: 24px;
    font-weight: 600;
    color: #808080;
}

.dot {
    text-decoration: none;
    border-bottom: 1px dashed #000000
}

#fixed-table_filter input, #import-history-table_filter input {width: 0px;}
#fixed-table_filter .search.icon, #import-history-table_filter .search.icon { left: 0;}
#fixed-table_filter .icon.input > input:focus ~ i.icon, #import-history-table_filter .icon.input > input:focus ~ i.icon {
    color: #00b5ad !important;
}
