html, body {
	height: 100%;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body {
	background: #556270;
	font-size: 0.875rem;
	line-height: 1.42857143;	
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: white;
	font-weight: 500;
}

.ui.grid .fields.login {
	margin-top: 1.5em !important;
}

.ui.grid .fields.login .field {
	float: right;
}

.ui.grid .fields.login .field:nth-child(1) {
	margin-right: 5%;
}

.ui.grid .fields.login input {
	background: #fff0c1 !important;
	color: black !important;
}

.ui.secondary.pointing.menu {
	border-bottom: none;
	margin: 0;
	padding-left: 1em !important;
}

.ui.secondary.pointing.menu .item { 
	margin-right: 2em;
	font-size: 1.125rem;
	color: white;
}

.ui.secondary.pointing.menu .item:hover{
	color: white !important;
}

.ui.secondary.pointing.menu .item:nth-child(1) {
	margin-left: 1.5em;
}

.ui.secondary.pointing.menu .item.active {
	background: white;
	color: #556270;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;	
}

.ui.secondary.pointing.menu .item.active:hover {
	background: white;
	color: #556270 !important; 	
}

.ui.tab.segment {
	margin: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 45px 25px;
}

.ui.tab.segment .ui.grid {
	margin: 0;
}

.ui.tab.segment .ui.grid > .row {
	font-size: 1rem;
	margin-top: 0;
}
.ui.tab.segment .ui.grid .ui.selection.dropdown {
	background: #f7f7f7;
}

.ui.tab.segment .ui.grid .fields.geo .ui.selection.dropdown {
	width: 82%;
	padding: 0.55em 1em;
}

.ui.tab.segment .ui.grid .fields.analitics .ui.selection.dropdown {
	width: 95%;
	padding: 0.55em 1em;
}

.ui.tab.segment .ui.grid .fields.analitics textarea {
	height: 6em;
	min-height: 6em;
}

.ui.tab.segment .ui.grid .ui.selection.dropdown > .dropdown.icon {
	float: right;
}

.ui.tab.segment .ui.grid .ui.divider {
	border-top-style: dashed;
	border-bottom-style: dashed;
	margin: 2% -25px 1% -25px;
}

.ui.tab.segment .ui.grid .row.next-stage {
	text-align: center;
	margin: 2% 0;
}

.ui.form .fields.geo .grouped.fields {
	margin-bottom: 0;
}

.ui.tab.segment .ui.grid .fields.inline-radios .field {
	display: inline-block;
	margin-right: 2.5em;
}

.ui.tab.segment .ui.grid .fields.article-url .fields.inline-radios .field {
	display: inline-block;
	margin-right: 1em;	
}

.ui.tab.segment .ui.grid .fields.products .field {
	padding-left: 0;
}

.ui.tab.segment .ui.grid .fields.products h4 {
	font-weight: normal;
	font-size: 0.8125rem;
	color: #555555;
}

.ui.grid .global-submit {
	opacity: 0;
	transition-delay: 1s;
	transition: all 0.5s;
}

.ui.grid .global-submit h5 {
	color: white !important;
	font-weight: normal !important;
	font-size: 0.875rem;
}

.ui.labeled.icon.input:not(.left) > .icon {
	margin-right: 0;
}

.ui.labeled.icon.input:not(.left) > input {
	padding-right: 1.75em !important;
}

.ui.grid .row .ui.segment {
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

.ui.grid .row .input.blue input {
	background: #eff9fd !important;
}

i.yellow.icon {
	color: #ecbf32 !important;
}

i.icon.circle.blank {
	opacity: 0.2 !important;
}

.ui.form .field > label {
	font-size: 0.8125rem;
}

/* charts page */

.ui.page.charts h3 {
	color: #556270;
	font-weight: normal;
}

.ui.page.charts .ui.segment {
	overflow: hidden;
	padding-top: 1.5%;	
}

.ui.page.charts .row,
.ui.page.charts h3 {
	margin-left: 1% !important;
}

.ui.page.charts .ui.pointing.secondary.menu {
	background: #d7d7d7;
	margin: 1% -1% 0 -1%;
	padding-top: 2% !important;
	text-align: center;
}

.ui.page.charts .ui.pointing.secondary.menu .item {
	padding: 0.6em 7.2em;
	border: 1px solid #556270;
	color: #556270;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: 2em;
	margin-right: 0;
}

.ui.page.charts .ui.pointing.secondary.menu .item:hover {
	color: #556270 !important;
}

.ui.page.charts .ui.pointing.secondary.menu .item.active {
	border-color: white;
}

.ui.page.charts .highcharts-title {
	fill: #fff !important;
	padding: 10px 20px;
	border-radius: 5px;
	color: #646388 !important;
	text-transform: uppercase;
	font-size: 22px !important;
	font-family: "Open Sans" sans-serif !important;
}


.ui.page.charts .chart-nest {
	margin: 5% 0 !important;
}

.ui.page.charts .chart-nest svg text[text-anchor="end"] {
    fill: #fff !important;
    color: #fff !important;
}

.ui.page.charts .chart-nest .highcharts-title {
    fill: #fff !important;
    padding: 10px 20px;
    border-radius: 5px;
	color: #646388 !important;
	text-transform: uppercase;
	font-size: 22px !important;
	font-family: "Open Sans" sans-serif !important;
}

.ui.page.charts .chart-nest .highcharts-container {
	overflow: visible !important;
}

.ui.page.charts .chart-nest .highcharts-container svg {
	margin-top: 20px;
}

.ui.page.table .row.table-wrapper {
	overflow-x: scroll;
}

.ui.page.table .row.table-actions a {
	min-width: 120px;
}

.ui.page.table .row.table-actions a:nth-child(1) {
	margin-right: 30px;
}

.ui.page.table .ui.segment {
	padding: 30px 30px;
}

.ui.page.table table.ui.segment {
	margin: 30px 0 30px 20px !important;
	border-collapse: collapse;
}

.ui.page.table .ui.segment table tbody tr:nth-child(2n) {
	background-color: transparent;
}

.ui.page.table .ui.segment table thead {
	border-bottom: 0;
}

.ui.page.table .ui.segment table thead th {
	border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.ui.page.table .ui.segment table thead tr th,
.ui.page.table .ui.segment table tbody tr td {
	min-width: 120px;
}

.ui.page.table .ui.segment table tbody tr td {
	padding: 0.60em 0.7em;	
}

.ui.page.table .ui.segment table thead tr th {
	padding: 0.80em 0.7em;	
}

.ui.page.table .ui.segment table thead tr th:nth-child(1),
.ui.page.table .ui.segment table tbody tr td:nth-child(1) {
	width: auto !important;
	min-width: 50px !important;
	border-bottom: 0;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
	background: #fff !important;
}

table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even {
	background-color: #f7f7f7 !important;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
	background-color: transparent !important;
} 

.ui.page.table .ui.segment table tbody tr.selected:nth-child(2n) td,
table.dataTable.display tbody tr.odd.selected > td, table.dataTable.order-column.stripe tbody tr.odd.selected > td,
table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1,
table.dataTable tbody tr.selected {
	background-color: #fbf6ea !important;
}

.ui.page.table table.dataTable.display tbody tr.odd > .sorting_1, 
.ui.page.table table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
	background-color: inherit !important;
}

.dataTables_scrollHeadInner thead tr th {
	background-color: #f7f7f7 !important;	
}

.ui.page.table .dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: transparent;
	height: auto !important;
}

.ui.page.table .dataTables_wrapper.no-footer .dataTables_scrollBody table {
	border-bottom: 1px solid #d1d1d1;	
}

.ui.page.table .dataTables_scrollHead {
border-top: 1px solid #d1d1d1 !important;
}

.ui.page.table .dataTables_wrapper .dataTables_filter {
margin-bottom: 25px;
margin-top: -40px;
}

.ui.page.table .dataTables_wrapper .dataTables_filter input {

margin: 0;
padding: .65em 1em;
font-size: 1em;
background-color: #FFF;
border: 1px solid rgba(0,0,0,.15);
outline: 0;
color: rgba(0,0,0,.7);
border-radius: .3125em;
-webkit-transition: background-color .3s ease-out,-webkit-box-shadow .2s ease,border-color .2s ease;
-moz-transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
-webkit-box-shadow: 0 0 rgba(0,0,0,.3) inset;
box-shadow: 0 0 rgba(0,0,0,.3) inset;
-webkit-appearance: none;
-webkit-tap-highlight-color: rgba(255,255,255,0);
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;

}

.ui.page.table .dataTables_scroll {
	border-left: 1px solid #d1d1d1 !important;
	border-right: 1px solid #d1d1d1 !important;
}

.ui.page.table .dataTables_wrapper {
	margin-bottom: 30px;
}

.ui.table * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}

.ui.page.table .dataTables_wrapper .dataTables_info,
.ui.page.table .dataTables_wrapper .dataTables_length {
	vertical-align: middle;
	padding-top: 0;
	margin-top: 25px;
	float: right;	
}

.ui.page.table .dataTables_wrapper .dataTables_info {
	clear: none;
	padding-right: 15px;
	border-right: 1px solid #d1d1d1;
	margin-right: 15px;	
}

.ui.page.table .dataTables_wrapper .dataTables_length {

}


.ui.page.table .dataTables_wrapper .dataTables_paginate {
	float: none;
	text-align: left;
	margin-top: 20px;
}

.ui.page.table .DTFC_LeftBodyWrapper {
	border-left: 1px solid #d1d1d1 !important;
	border-right: 1px solid #d1d1d1 !important;	
}

.ui.page.table .DTFC_LeftBodyWrapper td {
	text-align: center !important;
}

.ui.page.table .DTFC_LeftBodyLiner {
	top: 0px !important;
}

.ui.page.table .DTFC_LeftHeadWrapper {
	border-top: 1px solid #d1d1d1 !important;
	border-left: 1px solid #d1d1d1 !important;
	border-right: 1px solid #d1d1d1 !important;	
}

.ui.page.table .DTFC_LeftHeadWrapper th {
	background: none !important;
	text-align: center;
	background: #f7f7f7 !important;
}

.branding {
	background: #424c58;
	margin-bottom: 3%;
}

.branding h1 {
	margin: 4% 0;
}

.column.center * {
	text-align: center;
	
}